<div class="bg-white p-3 category">
  <div>
    <h4 class="d-inline-block mb-3">
      <span>COVID-19 <i class="fas fa-info-circle"></i></span>
    </h4>
    <img class="_3mqrboMx float-right" src="https://static.tacdn.com/img2/icons/illustration-handwash.svg" />

    <form class="mb-4">
      <div class="custom-checkbox">
        <div class="form-check">
          <label>
            <input type="checkbox" name="check" (input)='checked()' />
            <span class="label-text"><span class="check-label-font">
                {{categories.safety.name}}</span></span>
          </label>
        </div>
      </div>
    </form>
  </div>
  <hr />
  <div>
    <h4 class="d-inline-block mb-3"><span>Deals</span></h4>
    <form class="mb-4">
      <div class="custom-checkbox" *ngFor='let deal of categories.deals'>
        <div class="form-check">
          <label>
            <input type="checkbox" name="check" />
            <span class="label-text"><span class="check-label-font">
                {{deal.name}} <i class="fas fa-info-circle"></i></span></span>
          </label>
        </div>
      </div>
    </form>
  </div>
  <hr />

  <div>
    <h4 class="d-inline-block mb-3"><span>Popular </span></h4>

    <form class="mb-4">
      <div class="custom-checkbox" *ngFor='let popular of categories.popular'>
        <div class="form-check">
          <label>
            <input type="checkbox" name="check" />
            <span class="label-text"><span class="check-label-font">{{popular.name}}</span></span>
          </label>
        </div>
      </div>
    </form>
  </div>
  <hr />

  <div>
    <h4 class="d-inline-block mb-3"><span>Distance</span></h4><br>

    <mat-slider class='w-75' thumbLabel [displayWith]="distance" tickInterval="1000" min="0.5" max="30"></mat-slider>
    <form class="mb-4">
      <div class="custom-checkbox" *ngFor='let distance of categories.distance'>
        <div class="form-check">
          <label>
            <input type="checkbox" name="check" />
            <span class="label-text"><span class="check-label-font"> {{distance.name}}</span></span>
          </label>
        </div>
      </div>
    </form>
  </div>
  <hr />

  <div>
    <h4 class="d-inline-block mb-3"><span>Price Per Night</span></h4><br>
    <mat-slider class='w-75' thumbLabel [displayWith]="price" tickInterval="1000" min="100" max="3000">
    </mat-slider>
    
    <form class="mb-4">
      <div class="custom-checkbox" *ngFor='let price of categories.price'>
        <div class="form-check">
          <label>
            <input type="checkbox" name="check" />
            <span class="label-text"><span class="check-label-font"> {{price.name}}</span></span>
          </label>
        </div>
      </div>
    </form>
  </div>
  <hr />

  <div>
    <h4 class="d-inline-block mb-3"><span>Aminities </span></h4>

    <form class="mb-4">
      <div class="custom-checkbox" *ngFor='let option of categories.aminities'>
        <div class="form-check">
          <label>
            <input type="checkbox" name="check" />
            <span class="label-text"><span class="check-label-font">{{option.name}}</span></span>
          </label>
        </div>
      </div>
    </form>
  </div>
  <hr />
  <div>
    <h4 class="d-inline-block mb-3"><span>Hotel Class </span></h4>

    <form class="mb-4">
      <div class="custom-checkbox" *ngFor='let class of categories.hotelClass'>
        <div class="form-check">
          <label>
            <input type="checkbox" name="check" />
            <span class="label-text"><span class="check-label-font">{{class.name}}</span></span>
          </label>
        </div>
      </div>
    </form>
  </div>
  <hr />
  <div>
    <h4 class="d-inline-block mb-3"><span>Language Spoken</span></h4>

    <form class="mb-4">
      <div class="custom-checkbox" *ngFor='let lang of categories.languageSpoken'>
        <div class="form-check">
          <label>
            <input type="checkbox" name="check" />
            <span class="label-text"><span class="check-label-font">{{lang.name}}</span></span>
          </label>
        </div>
      </div>
    </form>
  </div>
</div>
