<div class="bg-white p-3 category">
  <div>
    <h6 class="d-inline-block mb-3">
      <span>COVID-19 <i class="fas fa-info-circle"></i></span>
    </h6>
    <img class="_3mqrboMx float-right" src="https://static.tacdn.com/img2/icons/illustration-handwash.svg" />

    <form class="mb-4">
      <div class="custom-checkbox">
        <div class="form-check">
          <label>
            <input type="checkbox" name="check" />
            <span class="label-text"><span class="check-label-font">
                Properties taking safety measures</span></span>
          </label>
        </div>
      </div>
    </form>
  </div>
  <hr />
  <div>
    <h6 class="d-inline-block mb-3"><span>Deals</span></h6>

    <form class="mb-4">
      <div class="custom-checkbox">
        <div class="form-check">
          <label>
            <input type="checkbox" name="check" />
            <span class="label-text"><span class="check-label-font">
                Free cancellation <i class="fas fa-info-circle"></i></span></span>
          </label>
        </div>
      </div>
      <div class="custom-checkbox">
        <div class="form-check">
          <label>
            <input type="checkbox" name="check" />
            <span class="label-text"><span class="check-label-font">
                Reserve now, pay at stay
                <i class="fas fa-info-circle"></i></span></span>
          </label>
        </div>
      </div>
      <div class="custom-checkbox">
        <div class="form-check">
          <label>
            <input type="checkbox" name="check" />
            <span class="label-text"><span class="check-label-font">
                Properties with special offers</span></span>
          </label>
        </div>
      </div>
    </form>
  </div>
  <hr />

  <div>
    <h6 class="d-inline-block mb-3"><span>Popular </span></h6>

    <form class="mb-4">
      <div class="custom-checkbox">
        <div class="form-check">
          <label>
            <input type="checkbox" name="check" />
            <span class="label-text"><span class="check-label-font"> Beachfront</span></span>
          </label>
        </div>
      </div>
      <div class="custom-checkbox">
        <div class="form-check">
          <label>
            <input type="checkbox" name="check" />
            <span class="label-text"><span>
                <span class="dot m-0 p-0"></span>
                <span class="dot m-0 p-0"></span>
                <span class="dot m-0 p-0"></span>
                <span class="dot m-0 p-0"></span>
                <span class="dot m-0 p-0"></span> </span></span>
          </label>
        </div>
      </div>
      <div class="custom-checkbox">
        <div class="form-check">
          <label>
            <input type="checkbox" name="check" />
            <span class="label-text"><span class="check-label-font"> 5 stars</span></span>
          </label>
        </div>
      </div>
      <div class="custom-checkbox">
        <div class="form-check">
          <label>
            <input type="checkbox" name="check" />
            <span class="label-text"><span class="check-label-font"> Romantic</span></span>
          </label>
        </div>
      </div>
    </form>
  </div>
  <hr />

  <div>
    <h6 class="d-inline-block mb-3"><span>Property types </span></h6>

    <form class="mb-4">
      <div class="custom-checkbox">
        <div class="form-check">
          <label>
            <input type="checkbox" name="check" />
            <span class="label-text"><span class="check-label-font"> All-inclusives</span></span>
          </label>
        </div>
      </div>
      <div class="custom-checkbox">
        <div class="form-check">
          <label>
            <input type="checkbox" name="check" />
            <span class="label-text"><span class="check-label-font"> Resorts </span></span>
          </label>
        </div>
      </div>
      <div class="custom-checkbox">
        <div class="form-check">
          <label>
            <input type="checkbox" name="check" />
            <span class="label-text"><span class="check-label-font"> Hotels</span></span>
          </label>
        </div>
      </div>
      <div class="custom-checkbox">
        <div class="form-check">
          <label>
            <input type="checkbox" name="check" />
            <span class="label-text"><span class="check-label-font"> Condos</span></span>
          </label>
        </div>
      </div>
    </form>
  </div>
  <hr />

  <div>
    <h6 class="d-inline-block mb-3"><span>Amenities </span></h6>

    <form class="mb-4">
      <div class="custom-checkbox">
        <div class="form-check">
          <label>
            <input type="checkbox" name="check" />
            <span class="label-text"><span class="check-label-font"> Beachfront</span></span>
          </label>
        </div>
      </div>
      <div class="custom-checkbox">
        <div class="form-check">
          <label>
            <input type="checkbox" name="check" />
            <span class="label-text"><span class="check-label-font"> Free Wifi </span></span>
          </label>
        </div>
      </div>
      <div class="custom-checkbox">
        <div class="form-check">
          <label>
            <input type="checkbox" name="check" />
            <span class="label-text"><span class="check-label-font"> Breakfast included</span></span>
          </label>
        </div>
      </div>
      <div class="custom-checkbox">
        <div class="form-check">
          <label>
            <input type="checkbox" name="check" />
            <span class="label-text"><span class="check-label-font"> Pool</span></span>
          </label>
        </div>
      </div>
    </form>
  </div>
  <hr />

  <div>
    <h6 class="d-inline-block mb-3"><span>Hotel class </span></h6>

    <form class="mb-4">
      <div class="custom-checkbox">
        <div class="form-check">
          <label>
            <input type="checkbox" name="check" />
            <span class="label-text"><span class="check-label-font"> 5 stars</span></span>
          </label>
        </div>
      </div>
      <div class="custom-checkbox">
        <div class="form-check">
          <label>
            <input type="checkbox" name="check" />
            <span class="label-text"><span class="check-label-font"> 4 stars </span></span>
          </label>
        </div>
      </div>
      <div class="custom-checkbox">
        <div class="form-check">
          <label>
            <input type="checkbox" name="check" />
            <span class="label-text"><span class="check-label-font"> 3 stars</span></span>
          </label>
        </div>
      </div>
      <div class="custom-checkbox">
        <div class="form-check">
          <label>
            <input type="checkbox" name="check" />
            <span class="label-text"><span class="check-label-font"> 2 stars</span></span>
          </label>
        </div>
      </div>
    </form>
  </div>
  <hr />
  <div>
    <h6 class="d-inline-block mb-3"><span>Brands </span></h6>

    <form class="mb-4">
      <div class="custom-checkbox">
        <div class="form-check">
          <label>
            <input type="checkbox" name="check" />
            <span class="label-text"><span class="check-label-font"> Jaz Hotel Group</span></span>
          </label>
        </div>
      </div>
      <div class="custom-checkbox">
        <div class="form-check">
          <label>
            <input type="checkbox" name="check" />
            <span class="label-text"><span class="check-label-font"> Jaz Hotel Group </span></span>
          </label>
        </div>
      </div>
      <div class="custom-checkbox">
        <div class="form-check">
          <label>
            <input type="checkbox" name="check" />
            <span class="label-text"><span class="check-label-font">
                Steigenberger Hotels And Resorts</span></span>
          </label>
        </div>
      </div>
      <div class="custom-checkbox">
        <div class="form-check">
          <label>
            <input type="checkbox" name="check" />
            <span class="label-text"><span class="check-label-font"> Titanic Hotels</span></span>
          </label>
        </div>
      </div>
    </form>
  </div>
</div>
