<div class="modal fade" id="booking" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="booking-form">
          <div class="form-header">
            <h1>reserve Now</h1>
          </div>
          <form>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">

                  <input class="form-control" type="date" required> <span class="form-label">Check In</span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" type="date" required> <span class="form-label">Check out</span> </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group"> <input class="form-control" type="number" placeholder="rooms">

                  <span class="select-arrow"></span> <span class="form-label">Rooms</span> </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <input class="form-control" type="number" placeholder="adults"> <span class="select-arrow"></span>
                  <span class="form-label">Adults</span> </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <input class="form-control" type="number" placeholder="children"> <span class="select-arrow"></span>
                  <span class="form-label">Children</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group"> <input class="form-control" type="email" placeholder="Enter your Email">
                  <span class="form-label">Email</span> </div>
              </div>
              <div class="col-md-6">
                <div class="form-group"> <input class="form-control" type="tel" placeholder="Enter your Phone">
                  <span class="form-label">Phone</span> </div>
              </div>
            </div>
            <div class="form-btn"> <button class="submit-btn">Book Now</button> </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
