<div class="modal fade" id="booking" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="booking-form">
          <div class="form-header">
            <h1>reserve Now</h1>
          </div>
          <form #bookForm="ngForm">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" type="date" required name="checkIn" ngModel
                    (change)="calcDays(bookForm.value)">
                  <span class="form-label">Check
                    In</span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" type="date" required name="checkOut" ngModel
                    (change)="calcDays(bookForm.value)"> <span class="form-label">Check
                    out</span> </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group"> <input class="form-control" type="number" placeholder="rooms" name="rooms"
                    ngModel>

                  <span class="select-arrow"></span> <span class="form-label">Rooms</span> </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <input class="form-control" type="number" placeholder="adults" name="adults" ngModel> <span
                    class="select-arrow"></span>
                  <span class="form-label">Adults</span> </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <input class="form-control" type="number" placeholder="children" name="children" ngModel> <span
                    class="select-arrow"></span>
                  <span class="form-label">Children</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group"> <input class="form-control" type="email" placeholder="Enter your Email"
                    name="email" ngModel>
                  <span class="form-label">Email</span> </div>
              </div>
              <div class="col-md-6">
                <div class="form-group"> <input class="form-control" type="tel" placeholder="Enter your Phone"
                    name="Phone" ngModel>
                  <span class="form-label">Phone</span> </div>
              </div>
              <div class="row mx-auto">
                <div class="center self-center d-flex text-light">
                  <h1>Total Price : {{calcPrice()}}</h1>
                </div>
              </div>
            </div>

            <div class="form-btn"> <button class="submit-btn" (click)="book(bookForm.value)">Book Now</button> </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
