
<div class="container ">
  <div class="row bg-white">
  <div class="col-xs-4 col-sm-4 mycar">
  <div  class="carousel slide" data-ride="carousel" data-interval="false" data-pause="hover" style="width: 300px;">
      <ul class="carousel-indicators">
        <li  data-slide-to="0" class="active"></li>
        <li  data-slide-to="1"></li>
        <li  data-slide-to="2"></li>
      </ul>
      
      <div class="carousel-inner rounded-lg" >
          <div class="iconoverimg">
        <div class="carousel-item active">
          
          <img  class="myimg" alt="Los Angeles" width="300" height="100">
             
        </div>
        <div class="carousel-item">
          <img  class="myimg" alt="Chicago" width="300" height="100">
             
        </div>
        <div class="carousel-item">
          <img  class="myimg" alt="New York" width="300" height="100">
            
        </div>
        <div class="badge badge-light rounded-circle p-2 icon ">
          <i class="fa fa-heart  fa-lg myicon" role="button"></i>
      </div>
        </div>
      </div>
      <a class="carousel-control-prev"  data-slide="prev" >
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next"  data-slide="next" >
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>
  <div class="col-xs-8 col-sm-8 pt-1">
  <h4> 2. topRestaurants.name</h4>
  &nbsp; <i class="fas fa-circle fa-sm text-success"></i><i class="fas fa-circle fa-sm text-success"></i><i class="fas fa-circle fa-sm text-success"></i><i class="fas fa-circle fa-sm text-success"></i><i class="fas fa-circle fa-sm text-success"> </i> topRestaurants.reviews reviews
  
  <p class="text-secondary">   topRestaurants.cuisine.name</p>
  <hr>
  <p class="text-secondary">&nbsp;&nbsp;<i class="fas fa-quote-right text-body"></i> “topRestaurants.userReviews[0]”</p>
  <p class="text-secondary">&nbsp;&nbsp;<i class="fas fa-quote-right text-body"></i> “topRestaurants.userReviews[1]”</p>
  </div>
  </div>
  </div> 
  <br>
