<div class="row bg-white border hotel-div mb-4">
  <div class="col-4 h-100">
    <div class="style-like bg-white mt-3 rounded-circle d-flex justify-content-center align-items-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
        class="bi bi-suit-heart-fill heart-color" viewBox="0 0 16 16">
        <path
          d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z" />
      </svg>
    </div>
    <div class="badge-style d-flex align-items-center" *ngIf='bestSeller'>
      <span class=" badge badge-danger badge-text" data-toggle="tooltip" data-placement="top"
        title="This is one of the most booked hotels in Hurghada over the last 60 days.">Best
        Seller</span>
    </div>
    <div class="badge-style d-flex align-items-center" *ngIf='allInclusive'>
      <span class=" mt-4 badge badge-dark badge-text" data-toggle="tooltip" data-placement="top"
        title="This is one of the most booked hotels in Hurghada over the last 60 days.">All
        Inclusive</span>

    </div>
    <div id="myCarousel" class="carousel slide h-100 style-slider" data-ride="carousel">

      <!-- Wrapper for slides -->
      <div class="carousel-inner h-100">

        <div *ngFor="let img of hotel.images;let i= index ;let isFirst=first" [ngClass]="{active:isFirst}"
          class="carousel-item h-100">
          <img id={{i}} src={{img}} class="h-100">
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" data-slide="next">
        <span class="carousel-control-next-icon"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  </div>

  <div class="col-8">
    <div class="row p-2">
      <h3><b><span>{{hotel.name}}</span></b></h3>
    </div>
    <div class="row h-75">
      <div class="col-7 h-100 w-100">
        <div class="row h-100 w-100">
          <div class="col-8 h-100 w-100 d-flex border-right">
            <div class="d-flex align-items-center justify-content-center flex-column w-100">
              <img src={{theBestDeal.img}} class="img-fluid" width="150px" alt={{theBestDeal.obj[0].name}}>
              <h4><a href={{theBestDeal.obj[0].link}}
                  class="text-dark"><b>{{theBestDeal.obj[0].pricePerNight | number: "1.0"}} EGP</b></a></h4>
              <!-- <button type="button" class="mb-1 btn btn-warning button-raduis text-center w-50">Book Now</button> -->
             
             
             <!-- Button trigger modal -->
             <button type="button" class="mb-1 pr-1 btn btn-warning button-raduis text-center w-50" data-toggle="modal"
               data-target="#exampleModal">
               Book Now
             </button>

             <!-- Modal -->
             <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
               aria-hidden="true">
               <div class="modal-dialog modal-lg" role="document">
                 <div class="modal-content">
                   <!-- <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div> -->
                   <div class="modal-body">
                     <div class="row">
                       <div class="col-md-4">
                         <div class="position-relative d-flex justify-content-around align-items-center center" style="background-image: 
                      url('https://maps.google.com/maps/api/staticmap?&amp;channel=ta.desktop.hotels&amp;zoom=11&amp;size=296x136&amp;scale=2&amp;client=gme-tripadvisorinc&amp;format=jpg&amp;sensor=false&amp;language=en_US&amp;center=27.251503,33.818409&amp;maptype=roadmap&amp;&amp;markers=icon:http%3A%2F%2Fc1.tacdn.com%2F%2Fimg2%2Fmaps%2Ficons%2Fcomponent_map_pins_v1%2FH_Pin_xs.png|27.221821,33.837662|27.144381,33.813530|27.106865,33.830547|27.190063,33.827415|27.241428,33.845291|27.258718,33.818047|27.208900,33.845612|27.150608,33.827847|27.204870,33.848091|27.245474,33.843361|27.240282,33.847584|27.098145,33.841885|27.256510,33.811192|27.260212,33.812641|27.070536,33.890629|27.104523,33.823891|27.211605,33.842583|27.258322,33.819424|27.047083,33.888184|27.219650,33.833179&amp;signature=K5EQw4qo8m1UP0G_54GOIvH-xM8=');
                          background-size:cover;height:8rem ;">
                           <div>
                             <button class="btn btn-secondary">
                               <span>view map</span>
                             </button>
                           </div>
                         </div>
                       </div>
                       <div class="col-md-8 pl-2">
                         <h2>{{hotel.name}}</h2>
                         <div>
                           <span class="font-weight-bold">Price per Night: </span>
                           <span>{{theBestDeal.obj[0].pricePerNight | number: "1.0"}} $</span>
                         </div>
                         <div>
                           <span class="font-weight-bold">Aminities: </span>
                           <!-- <span *ngFor='let amt of hotel.amenities'><ul><li>{{getAmt(amt)}} </li></ul></span> -->
                           <span *ngFor='let amt of hotel.amenities; let index =i'>{{getAmt(amt)}} <span *ngIf="index 
                        !== hotel.amenities.length-1">-</span> </span>
                         </div>
                         <div>
                           <span class="font-weight-bold">Class: </span>
                           <span>{{hotel.class[0]}}</span>
                         </div>
                         <div>
                           <span class="font-weight-bold">Distance: </span>

                         </div>
                       </div>
                     </div>
                   </div>
                   <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                     <button type="button" class="btn btn-primary">Book</button>
                   </div>
                 </div>
               </div>
             </div>
             
             
             
             
              <span *ngIf='freeCancellation'>
                <i class="fas fa-check check"></i><span><b> Free
                    cancellation</b></span>
              </span>
              <span *ngIf='reserveNow'>
                <i class="fas fa-check check"></i><span><b> Reserve now, pay at
                    stay</b></span>
              </span>
            </div>

          </div>
          <div class="col-4 text-center">
            <div class="text-dark" *ngFor='let deal of hotel.Pricedeals'>
              <div>
                <a href={{deal.link}} class="text-dark">{{deal.name}}</a><br>
                <a href={{deal.link}} class="text-dark"><b>{{deal.pricePerNight | number: "1.0"}}</b></a><br><br>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-5 h-100 border-left ">
        <div class="ml-3 mb-2">
          <span class="dot" *ngFor='let dot of Counter(rate)'></span>
          <a href="#" class="text-dark pl-2">{{hotel.reviews.length}} reviews </a><br>
        </div>

        <!-- If condition filter == amenites -->
        <div class="ml-3 mr-3">
          <span>#1 Best Value in Hurghada that matches your filters</span>
        </div><br>

        <div class="ml-3 mr-3" *ngFor='let amt of hotel.amenities.slice(0,3)'>
          <span><i class="fas fa-check-circle"></i><span> {{getAmt(amt)}}</span></span><br>
        </div>
        <a href={{theBestDeal.obj[0].link}} class="text-dark ml-3 mr-3"><i class="fas fa-globe"></i><span>
            Visit hotel
            website</span></a>
      </div>
    </div>
  </div>
</div>


<!-- Book Now -->
